#THIS FILE IS DIFFERENT FROM THE CPAN .gitignore
#build products
ppcfg.txt
xscfg.txt
cfg.diff
Config_pm_mtime
Config_xs.out-new
Config_xs_tmp.out
Config_xs.tmp.in-new
Config.xs
UNINST_0
UNINST_1
#files from CPAN distro not shipped in core
.travis.yml
appveyor.yml
Changes
Config_mini.pl.PL
Config_xs_heavy.pl.PL
genkeys.PL
MANIFEST
README
regen
xsc_test.pl
XSConfig.pod
